# Python Basics
## By elham heidari

Note: Python is a case-sensitive language.

In [1]:
10+12

22

Some Useful Keyboard Shortcuts:

Run Cell: Ctrl + enter

Create new cell: Esc + a (above), Esc + b (below)

Run Cell and creat new cell: Ctrl + shift

Copy Cell: Ctrl + c

Paste Cell: Ctrl + v

Save notebook: Esc + s

Auto-completion: Tab while writing code

Help: Shift + Tab

In [2]:
x=100#assignment

In [3]:
x

100

*** Rules for writing identifiers in Python:

Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _.

An identifier cannot start with a digit.

Keywords words cannot be used as identifiers, such as: False, elif, None, else, nonlocal, lambda, True, except, not, and, finally, or, as, for, pass, assert, from, raise, break, global, return, class, if, try, continue, import, while, def, in, with, del, is, yield.

Valid or invalid identifiers in Python?

c001, tot@l, 5um, _cost, daily.demand, True, u_200

In [5]:
if=10#error

SyntaxError: invalid syntax (1118390202.py, line 1)

# data type
number
float

In [ ]:
x=10 #int

In [13]:
y=12.3#float

In [7]:
type(x)

int

In [14]:
type(y)

float

# Strings

In [15]:
'xyz'

'xyz'

In [16]:
type('xyz')

str

In [17]:
'1'+3

TypeError: can only concatenate str (not "int") to str

# operators

Arithmetic Operators

In [19]:
x=10
y=20

In [20]:
x+y

30

In [21]:
x-y

-10

In [22]:
x*y

200

In [23]:
x/y

0.5

In [24]:
x**y

100000000000000000000

In [25]:
x//y

0

In [26]:
x%y

10

Operator Precedence

In [27]:
12 + 20 /5

16.0

# Comparison Operators

In [28]:
x!=6

True

In [29]:
x<10

False

# Assignment Operators

In [32]:
b=2
b-=1
b

1

In [34]:
b*=3
b

9

# Logical Operators

In [35]:
not(True)

False

In [36]:
True and False

False

In [37]:
False and False

False

In [38]:
True or False

True

In [39]:
(x > 0) and (y < -1)

False

# Lists
Lists are ordered sequences that can hold a variety of object types.

In [40]:
l1=[10,2,3.1,True,'ac','c']
l1

[10, 2, 3.1, True, 'ac', 'c']

In [41]:
type(l1)

list

In [42]:
len(l1)

6

In [44]:
l1[0]

10

In [45]:
l1[-1]

'c'

In [46]:
l1[2:5]

[3.1, True, 'ac']

In [47]:
#Method
l1.index('c')

5

In [49]:
l1.insert(2,-100)
l1

[10, 2, -100, -100, 3.1, True, 'ac', 'c']

In [50]:
l1.append(20)
l1

[10, 2, -100, -100, 3.1, True, 'ac', 'c', 20]

In [52]:
l2=list(range(1,8))
l2

[1, 2, 3, 4, 5, 6, 7]

In [53]:
#Concatination
l3 = l1 + l2
l3

[10, 2, -100, -100, 3.1, True, 'ac', 'c', 20, 1, 2, 3, 4, 5, 6, 7]

In [54]:
#nested
l4 = [l1, l2]
l4

[[10, 2, -100, -100, 3.1, True, 'ac', 'c', 20], [1, 2, 3, 4, 5, 6, 7]]

In [55]:
l4[1][1]

2

# Dictionaries
Dictionaries are unordered mappings for sorting objects.

In [56]:
d1 = {'name':'sara', 'age': 20, 'tel':1020}
d1

{'name': 'sara', 'age': 20, 'tel': 1020}

In [57]:
type(d1)

dict

In [58]:
d1['age']

20

In [59]:
d2 = {'k1': 12.5, 
      'k2': [0, 1, 2, 3, 4], 
      'k3': {'k3_1': 'abc', 'k3_2': 'def'}}
d2

{'k1': 12.5, 'k2': [0, 1, 2, 3, 4], 'k3': {'k3_1': 'abc', 'k3_2': 'def'}}

In [60]:
d2['k2'][2]

2

In [61]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [62]:
d2['k4'] = 300
d2

{'k1': 12.5,
 'k2': [0, 1, 2, 3, 4],
 'k3': {'k3_1': 'abc', 'k3_2': 'def'},
 'k4': 300}

In [63]:
#Access to user-defined varibales:
#Magic Commands: 
#https://ipython.readthedocs.io/en/stable/interactive/magics.html
%whos

Variable   Type     Data/Info
-----------------------------
b          int      9
d1         dict     n=3
d2         dict     n=4
l1         list     n=9
l2         list     n=7
l3         list     n=16
l4         list     n=2
x          int      10
y          int      20
y1         float    12.3

# Tuples
Tuples are very similar to lists, however they are immutable.

In [64]:
t1 = (1, 4, 4, 'abc')
t1

(1, 4, 4, 'abc')

In [65]:
type(t1)

tuple

In [66]:
len(t1)

4

In [67]:
t1.index('abc')

3

In [68]:
t1.count(4)

2

In [69]:
#Tuple does not support item assignment
t1[0] = 0 #error

TypeError: 'tuple' object does not support item assignment

# Sets
Sets are unordered collections of unique elements.

In [70]:
s1 = {3, 5, 7, 7, 7, 9}
s1

{3, 5, 7, 9}

In [71]:
s1.add(1)
s1

{1, 3, 5, 7, 9}

In [72]:
#Set is not subscriptable
s1[0] #error

TypeError: 'set' object is not subscriptable

In [73]:
l1 = [1, 1, 1, 1, 2, 2, 3, 4]
l1

[1, 1, 1, 1, 2, 2, 3, 4]

In [74]:
set(l1)

{1, 2, 3, 4}

# If Else Statement

In [78]:
a=-1
if a<0:
  print('The number is negative')

The number is negative

In [79]:
b=12
if b%2==0:
    print('The number is even')
else:
    'The number is odd'

The number is even

In [80]:
a = 0
if a > 0 :
    print('The number is positive')
elif a < 0 :
    print('The number is negative')
else:
    print('The number is zero')

The number is zero

# Loops
For Loops

In [84]:
l5=list(range(1,13,2))
l5

[1, 3, 5, 7, 9, 11]

In [85]:
for i in l5:
    print(i**2)

1
9
25
49
81
121

In [86]:
l = []
for i in range(2, 10,2):
    l.append(i)
l

[2, 4, 6, 8]

In [87]:
#List comprehension
l = [_ for _ in range(1, 6)]
l

[1, 2, 3, 4, 5]

In [88]:
#List of odd numbers between 1 and 20
l = [_ for _ in range(1, 21, 2)]
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [89]:
#Nested for
#10 * 10 multiplication table
#Create an empty nested list
table = [[None for _ in range(10)] for _ in range(10)]
table

[[None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None]]

In [90]:
for i in range(len(table)):
    for j in range(len(table)):
        table[i][j] = (i + 1) * (j + 1) 
        
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

# While Loops

In [91]:
c = 1
while c <= 5:
    print(c ** 2)
    c += 1

1
4
9
16
25

# Functions
Create function

Example: s = (1+r)^n/y

In [7]:
def p(y, r, n):
    s = (1+r)** n / y 
    return s

In [10]:
p(2, 5, 15)

235092492288.0

In [11]:
type(pv1)

function

In [13]:
p(y = 2, r = 5, n = 15)

235092492288.0

In [14]:
p(2,5)

TypeError: p() missing 1 required positional argument: 'n'

In [15]:
#Arguments w/ default values
#Any number of arguments in a function can have a default value. 
#But once we have a default argument, all the arguments to its right must also have default values.
def p(y, r = 1, n):
    s = (1+r)** n / y 
    return s #error

SyntaxError: non-default argument follows default argument (2532923365.py, line 4)

In [16]:
def p(y, n, r = 0.25):
    s = (1 + r) ** n / y
    return s

p(10000, 5)

0.00030517578125

# Lambda Functions

In [17]:
(lambda x: x ** 2)(2)

4

# Assignment

Q1:

a: Create l1 which is a list of odd numbers from 1 to 10. 

b: Create l2 which is a list of prime numbers from 1 to 10. 

c: Concatinate l1 and l2 to create l3.

d: Calculate the length of list l3

e: Count the number of occurance of 5 in l3.

f: Add number 10 to l3.

g: Sort l3 in ascending order.

h: Replace all even numbers in l3 with 0.
Q2: Using keys and indexing, grab the 'hello' from the following dictionaries:

 d = {'k1':{'k2':'hello'}}

 d = {'k1':[{'nest_key':['this is deep', ['hello']]}]}

 d = {'k1':[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]}
Q3: Use list comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

Q4: Write a code to find if a positive integer is prime or not.

Q5: Generate the numbers of the Fibonacci sequence that are less than 10,000,000.
Q6: Write a function to find the sum of digits of an integer number.

Hint: https://en.wikipedia.org/wiki/Fibonacci_number
End of Code